.parent{
    background-color: rgb(207, 207, 207);
    min-height: 1500px;
    .left-parent{
        width: 20%;
        display: inline-block;
        position: absolute;
        top: 250px;
    }
    .right-parent{
        width: 76%;
        margin-left: 24%;
        display: inline-block;
    }
}
.wallpaper
{
    width: 100%;
    .image{
        position: relative;
        margin: 0px;

        img{
            width: 100%;
            display: block;
            margin: 0px auto;
            // height: 350px;
        }
    }
}
