.parent {
    background-color: rgb(228, 227, 227);
    min-height: 1270px;
    .left-parent {
        width: 20%;
        display: inline-block;
        position: absolute;
        top: 250px;
    }
    .right-parent {
        width: 78%;
        margin-left: 22.5%;
        display: inline-block;
    }
}
.wallpaper {
    width: 100%;
    height: 490px;
    overflow: hidden;
    .image {
        position: relative;
        margin: 0px;

        img {
            width: 100%;
            display: block;
            margin: 0px auto;
        }
    }
}
.friends{
    overflow: none;
    margin-left: 100px;
    position: sticky;
    top: 10px;
}


@media (max-width: 1000px) {
    .parent {
        background-color: rgb(228, 227, 227);
        min-height: 500px;
        margin: 0px;
        .left-parent {
            top: 0px;
            margin: 0px;
            display: block;
            position: unset;
            float: none;
            width: 100%;
        }
        .right-parent {
            margin: 0px;
            float: none;
            width: 100%;
            margin-left: 0px;
        }
    .wallpaper{
        height: 96px;
    }
    }

    .follows {
        display: none;
    }
    .friends {
        display: none;
    }
}
