<div class="parent">
    <app-nav-bar [name]="name"></app-nav-bar>
    <div class="wallpaper">
        <div class="image">
            <img src="../../../assets/cover3.jpg" alt="">
        </div>
    </div>
    <div class="left-parent">

    <div class="profile">
        <app-profile
            [name]="name"
            [position]='position'
            [internalAccess]='internalAccess'
            [following]='following'
            [followers]='followers'
            [activities]='activities'
            [profileImage]='profileImage'
            [isLoading] = 'isLoading'
            [friendID] ='friendID'
        >
        </app-profile>
    </div>

    <div class="follows">
        <app-follow></app-follow>
    </div>
<!-- 
    <div class="friends">
        <app-friends></app-friends>
    </div> -->

</div>
    <div class="timeline right-parent">
        <app-timeline>
            <router-outlet name="timelineRouter"></router-outlet>
        </app-timeline>

    </div>
</div>


<div class="footer">
    <app-footer></app-footer>
</div>