
.parent {
    // background-image: url("../../../assets/photo8.jpg");
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .forget {
        color: white;
        background-color: transparent;
        border: none;
        &:hover {
            border-bottom: 1px;
        }
    }
    .container{
        text-align: center;
        height: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .fields{
            width: 50%;
        }
        .signUp{
            text-align: center;
        }
        .input-text{
            border-radius: 20px;
            width: 80%;
            padding:20px;
            margin: 10px 20px;
            border: 0px;
            background-color: rgba(255, 255, 255, 0.329);
        }
        img{
            width: 60%;
        }
        .input-text:focus{
            outline: 0px;
        }
        .btn{
            margin:10px;
        }
        .custom-btn{
            margin-top: 50px;
            padding: 10px 30px;
            border-radius: 20px;
        }
        
    }
}

@media (max-width: 1000px) {
    
.parent {
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .forget {
        color: white;
        background-color: transparent;
        border: none;
        &:hover {
            border-bottom: 1px;
        }
    }
    .container{
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .fields{
            width: 50%;
        }
        .signUp{
            text-align: center;
        }
        .input-text{
            border-radius: 20px;
            width: 100%;
            text-align: center;
            padding:20px;
            margin: 10px 0px;
            border: 0px;
            background-color: rgba(255, 255, 255, 0.329);
        }
        img{
            width: 60%;
        }
        .input-text:focus{
            outline: 0px;
        }
        .btn{
            margin:10px;
        }
        .custom-btn{
            margin-top: 50px;
            padding: 10px 30px;
            border-radius: 20px;
        }
        
    }
}
}