
<div class="parent">
    <div class="basic">
        <div class="heading">BASIC INFORMATION</div>
        <button class="edit btn btn-primary"><i class="fa fa-edit"></i></button>
        <hr>
        <div>
            <table>
                <tr>
                    <th>Full Name</th>
                    <td>Hemant Shrivastava</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>Male</td>
                </tr>
                <tr>
                    <th>DOB</th>
                    <td>6 sep 1998</td>
                </tr>
                <tr>
                    <th>Martial Status</th>
                    <td>Unmarried</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>AYODHYA</td>
                </tr>
                <td></td>
            </table>
        </div>
    </div>
    <hr class="wideRule">
    <div class="work">
        <div class="heading">WORK</div>
        <hr>
        <button class="edit btn btn-primary"><i class="fa fa-edit"></i></button>
        <div>
            <table>
                <tr>
                    <th>Occupation</th>
                    <td>Software Developer </td>
                </tr>
                <tr>
                    <th>Skills</th>
                    <td>Javascript</td>
                </tr>
                <tr>
                    <th>Job</th>
                    <td>Newput Technologies</td>
                </tr>
                <td></td>
            </table>
        </div>
    </div>

</div>