.parent {
	input:disabled {
		background-color: white;
        border: 0px;
	}
    label{
        font-weight: bold;
    }
	.basic {
		margin-top: 20px;
        min-height: 360px;
		background-color: white;
		position: relative;
		.heading {
			width: 80%;
			padding: 20px 40px 5px 40px;
			.btn-primary {
				position: absolute;
				right: 10px;
                top: 0px;

			}
		}
	}
	.work {
		position: relative;
        min-height: 260px;
		background-color: white;
		.heading {
			padding: 20px 40px 5px 40px;
		}
	}
	.wideRule {
		background-color: rgb(197, 194, 194);
		height: 3px;
		margin: 20px;
	}

	.btn-primary {
		position: absolute;
		right: 25px;
		top: 25px;
	}
	.basic-info-form {
		margin: 0px 40px;
	}
	.btn-warning {
		text-align: center;
		position: static;
		margin: 20px 40px;
	}
    .edit{
        top:4%;
    }
    .submitbtns{

        margin: 0px auto;
    }
}
