<div class="parent">
    <a>
        <img src="{{profileImage}}" alt="" *ngIf="!isLoading">
        <div class="loader" *ngIf="isLoading">
            <app-loader
[size] = "xl"
[speed] = "high"
></app-loader>
        </div>
    </a>
    <div class="modal fade" id="profileImageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <img src="{{profileImage}}" width="800px" alt="There is supposed to be an image">
            </div>
        </div>
    </div>

    <div class="data">
        <div class="nameAndPos">
            {{name}}
            <p>{{position}}</p>
        </div>

        <div class="followers">
            <div>
                <p>{{following}}</p>
                Following
            </div>
            <div>
                <p>{{followers}}</p>
                Followers
            </div>
            <div>

                <p>{{activities}}</p>
                Activites
            </div>
        </div>
        <button class=" btn-sm btn-light addFriendButton" (click)= addFriend(friendID) *ngIf="!internalAccess"><i class="fa fa-user"></i> ADD AS
            FRIEND</button>
    </div>
</div>