.parent{
    margin: 20px;
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    a{
        text-align: center;
    }
    .data
    {
        box-shadow: 2px 2px 2px grey;
        min-height: 200px;
        background-color: white;
            display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    img{
        margin: 10px auto;
        width: 90%;
        height: 320px;
        border-radius : 100%;
        box-shadow: 1px 0px 10px 0px gray;
        &:hover{
            box-shadow: 3px 3px 15px 3px gray;
        }

    }
    .nameAndPos{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: black;
        font-weight: bolder;
        font-size: larger;
        p{
            font-size: medium;
            font-weight: normal;
        }
    }
    .followers{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        p{
            color: #007BFF;
            font-weight: bolder;
            font-size: larger;
            margin:0px;
        }

    }
    button{
        display: block;
        margin: 0px auto;
        padding: 5px;
    }

    .addFriendButton{
        padding: 5px 10px;
    }

}



@media (max-width: 1000px) {

    .parent{
        margin: 0px;
        margin-bottom: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .data
        {
            padding-top: 20px;
            border:0px;
            min-height: 150px;
            background-color: white;
                display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
        }
        img{
            display: block;
            position: absolute;
            margin: 10px auto;
            left:38%;
            top: 90px;
            width: 25%;
            height: 12%;
            border: 8px solid white;
            border-radius : 100%;
            min-height: 0px;
            box-shadow: none;
        }
        .nameAndPos{
            display: flex;
            align-items: center;
            flex-direction: column;
            color: black;
            margin-top: 20px;
            font-weight: bolder;
            p{
                font-weight: normal;
            }
        }
        .followers{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-bottom: 10px;
            p{
                color: #007BFF;
                font-weight: bolder;
                font-size: larger;
                margin:0px;
            }
    
        }
        button{
            display: block;
            margin: 0px auto;
            padding: 5px;
        }
    
        .addFriendButton{
            margin: 10px auto;
            padding: 5px 10px;
        }
    
    }
    

}