.parent{
    margin: 20px;
    height: 420px;
    overflow: scroll;
    box-shadow: 2px 2px 2px grey;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    img{
    height: 50px;
        margin: 0px 0px;
    }
    .container{
        height: 335px;
        padding: 15px;
        overflow: scroll;
    }
    .heading{
        text-align: center;
        font-weight: bold;
        padding-top: 15px;
        color: rgb(83, 80, 80);
        hr{
            margin-top: 10px;
        }
        img{
            height: 50px;
            position: relative;
            top: -10px;
            left: 30px;
        }
    }
    .person{
        display: flex;
        flex-direction: row;
        margin:5px auto;
        .addIcon{
            .fa-trash{
                font-size: larger;
                &:hover{
                    color: red;
                }
            }
            .fa-user-plus{
                font-size: larger;
                &:hover{
                    color:rgb(0, 102, 255);
                }
            }
        }
    }
    .person-details{
        width: 70%;
        cursor: pointer;
        p{
            margin: 0px;
        };
        .name:hover{
            text-decoration: underline;
        }
    }

}

@media (max-width: 1000px) {
    .parent{
        margin: -9px 10px 10px 10px;
        height: 100%;
        box-shadow: 2px 2px 2px grey;
        width: 103%;
        background-color: white;
        display: flex;
        flex-direction: column;
        img{
        height: 50px;
            margin: 0px 0px;
        }
        .container{
            height: 335px;
            overflow: scroll;
        }
        .heading{
            text-align: center;
            font-weight: bold;
            padding-top: 15px;
            color: rgb(83, 80, 80);
            hr{
                margin-top: 0px;
            }
            img{
                height: 50px;
                position: relative;
                top: -10px;
                left: 30px;
            }
        }
    
    }
    
}