<div class="parent">
    <div class="navbar">
        <div [routerLink]="['/home/posts']" class="navItems" routerLinkActive="selected" >Timeline</div>
        <div [routerLink]="['/home/about']" class="navItems" routerLinkActive="selected" >About</div>
        <div [routerLink]="['/home/photos']" class="navItems" routerLinkActive="selected" >Photos</div>
        <div [routerLink]="['/home/friends']" class="navItems" routerLinkActive="selected" >Friends</div>
    </div>
    <router-outlet></router-outlet>

</div>