.parent {
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    .mobile-follow {
        display: none;
    }
    .person {
        width: 48%;
        height: 170px;
        display: inline-block;
        position: relative;
        margin: 11px;
        background-color: white;
        &:hover {
            box-shadow: 1px 0px 10px 0px rgb(177, 175, 175);
        }
        .image-container {
            overflow: hidden;
            display: inline-block;
            width: 23%;
            height: 85%;
            margin: 10px 15px;
            .image-holder {
                display: inline-block;
                background-position: center;
                background-size: cover;
                height: 100%;
                width: 100%;

                &:hover {
                    transform: scale(1.2);
                    overflow: hidden;
                    background-clip: border-box;
                }
            }
        }
    }
    .data {
        display: inline-block;
        width: 50%;
        p {
            cursor: pointer;
            font-size: larger;
        }
        button {
            cursor: pointer;
            position: relative;
            left: 24rem;
            top: -2rem;
            margin: 10px;
            padding: 5px 10px;
        }
    }
}

@media (max-width: 1000px) {
    .parent {
        position: relative;
        width: 99%;
        margin-left: 0px;
        .mobile-follow {
            display: block;
            width: 91%;
            border: 0px;
            height: 195px;
            box-shadow: 0px;
        }
        .person {
            height: 145px;
            display: inline-block;
            position: relative;
            width: 94%;
            margin: 10px;
            // width: 100%;
            // margin: 0px;
            background-color: white;
            .image-container {
                overflow: hidden;
                display: inline-block;
                width: 37%;
                height: 85%;
                margin: 10px 15px;
                .image-holder {
                    display: inline-block;
                    background-position: center;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .data {
            
            position: relative;
            top: -20px;
            p {
                font-size: small;
                padding: 0px;
                margin: 0px;
            }
            button {
                margin: 10px;
                border-radius: 5px;
            }
            .btn-danger {
                padding: 5px;
                position: relative;
                left: 90px;
                top: 0px;
                font-size: small;
            }
            .btn-primary {
                padding: 5px;
                position: relative;
                left: 90px;
                top: 0px;
                font-size: small;
            }
        }
    }
}
