<div class="parent" *ngIf="!isLoading && friendList">
  <div class="mobile-follow">
    <app-follow></app-follow>
  </div>
  <div class="person" *ngFor="let friend of friendList,index as i ">
    <div class="image-container">
      <div style="background-image: url({{friend.image}})" class="image-holder">
      </div>
    </div>
    <div class="data" (click)=speakAbout(friend)>
      <p (click)=swapProfile(friend)><strong>{{friend.name}}</strong></p>
      <p>{{friend.position}} at {{friend.company}}</p>
      <button class="btn-xs btn-danger" (click)="Unfriend(friend)" *ngIf="friend.status">{{internalAccess ? "Unfollow" :
        "Stop Following"}}</button>
      <button class="btn-xs btn-primary" (click)="Addfriend(friend)" *ngIf="!friend.status">{{internalAccess ? "Follow"
        : "Start Following"}}</button>
    </div>
  </div>
  <div *ngIf="!friendList.length">
    <app-empty-state [loader]="false"></app-empty-state>
  </div>
</div>

<div class="loader" *ngIf="isLoading">
  <app-loader [size]="xl" [loader]="true"></app-loader>
</div>