<div class="social-icons">
    <ul>
        <li>
            <a (click)="sharePost('whatsapp')">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-whatsapp"></span>
            </a>
            <p>Share on Whatsapp</p>
        </li>
        <li>
            <a (click)="sharePost('friendbook')">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-facebook"></span>
            </a>
            <p>Share on FriendBook</p>
        </li>
        <!-- <br> -->
        <li>
            <a (click)="sharePost('clipboard')">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-copy"></span>
            </a>
            <p>Copy to ClipBoard</p>
        </li>
    </ul>
</div>

   <!-- <div (click)="sharePost('whatsapp')" class="shareOption">
            <img src="../../../../assets/whatsapp.png" alt="">
            <span>Share on whatsapp</span>
          </div>
          <div (click)="sharePost('friendbook')" class="shareOption">
            <img src="../../../../assets/friendbook.png" alt="">
            <span>Share on FriendBook</span>
          </div>
          <div (click)="sharePost('clipboard')" class="shareOption">
            <img src="../../../../assets/copy.jpg" alt="">
            <span>Copy to ClipBoard</span>
          </div> -->