
<div class="parent">
    <div class="logo">
        <p>FRIENDBOOK</p>
    </div>



    <div class="icons">
        <ul>
        <li><button><i class="fa fa-search"></i></button></li>
        <li><button><i class="fa fa-bell"></i></button></li>
        <li><button><i class="fa fa-comment"></i></button></li>
        <li class="nav-item dropdown">
            <a href="auth"><img src="../../../../assets/avatar.png" alt=""></a>
            {{name}}
        </li>
        <li></li>
    </ul>
    </div>
</div>


