.navbar{
    height: 50px;
    padding: 0px;
    justify-content: space-between;
    background-color:  rgb(0, 102, 255);
}
.navbar-brand{
    margin-left: 2%;
    font-family: "Abril fatface";
    color: white;
}
.icon{
    a{
        color: white;
    }
.dropdown-menu{
    // position: relative;
    //     right: 100px
    a{
        color: black;        
    }
}
}

@media (max-width :1000px)
{
    .navbar{
        height: 50px;
        padding: 0px;
        justify-content: space-between;
        background-color:  rgb(0, 102, 255);
    }
    .navbar-brand{
        margin-left: 4%;
        font-family: "Abril fatface";
        font-size: medium;
        color: white;
    }
    .navbar-right
    {
        float: right;
        padding: 0px;
        height: 50px;
    
    }
    .icon{
        width: 20%;
        
    }
       
}