  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" [routerLink]="['/home/posts']">FRIENDBOOK</a>
    <div class="navbar icon">
          <a (click)=goToHome() class="navBtn" ><i class="fa fa-home"></i></a>
          <a (click)=toggleTalkback() class="navBtn"><i class="fa fa-headphones"></i></a>
          <a class="navBtn profile" ><img src="../../../../assets/avatar.png" style="width: 40px;" [routerLink]="['/home/about']"  alt=""></a>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a class="userName">{{name}}</a>
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="logout()" href="auth">LogOut</a>
          </div>      
    </div>
  </nav>

