  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">FRIENDBOOK</a>
    <div class="navbar icon">
      <!-- <ul class="navbar navbar-right navbar-nav">
        <li> -->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a><img src="../../../../assets/avatar.png" style="width: 40px;" alt=""></a>
              <!-- {{name}} -->
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="auth">LogOut</a>
          </div>
        <!-- </li>
      </ul> -->
      
    </div>
  </nav>

