.parent{
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    .photo-container{
        display: inline-block;
        width: 25%;
        img{
            padding: 2%;
            width: 100%;
        }
    }
}