<div class="parent" id="parent">
    <div class="login-form container">
        <img src="../assets/loginAvatar.png" width="180px" alt="There is supposed to be an image here" />
        <form [formGroup]="loginForm">
            <input type="text" class="input-text" formControlName="username" name="username"
                placeholder="Enter Username" />
            <br />
            <input type="password" class="input-text" name="password" formControlName="password"
                placeholder="Enter Password" />
            <br />
            <button name="button" (click)="submitForm()" class="btn custom-btn">
                Login
            </button>
        </form>
        <button class="forget">Forget Password</button>
        <br />
        <div class="signUp">
            <a routerLink="signUp">Dont Have an Account Sign Up Now</a>
        </div>
    </div>
</div>