@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}
.bigClass {
}
.smallClass {
    transform: scale(0.5, 0.5) !important;
}
.parent {
    position: relative;
    height: 200px;
    display: block;
    margin: 0px auto;
    width: 200px;
}
body {
    background: #312e2e;
}
ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 10px #424242, 0 0 0 25px #fff;
    background: linear-gradient(90deg, #312e2e 0% 50%, #262626 50% 100%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
ul li {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 50%;
    transform: translate(-50%, -100%);
    background: transparent;
    transform-origin: bottom;
    animation: animate 3s infinite linear;
}
ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 15px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
ul li:nth-of-type(1) {
    animation-duration: 3s;
}
ul li:nth-of-type(1)::before {
    background: #d35400;
}
ul li:nth-of-type(2) {
    animation-duration: 5s;
}
ul li:nth-of-type(2)::before {
    background: #27ae60;
}
ul li:nth-of-type(3) {
    animation-duration: 4s;
}
ul li:nth-of-type(3)::before {
    background: #8e44ad;
}
ul li:nth-of-type(4) {
    animation-duration: 3.5s;
}
ul li:nth-of-type(4)::before {
    background: #7f8c8d;
}
ul li:nth-of-type(5) {
    animation-duration: 4.5s;
}
ul li:nth-of-type(5)::before {
    background: #e74c3c;
}
ul li:nth-of-type(6) {
    animation-duration: 2.8s;
}
ul li:nth-of-type(6)::before {
    background: #f1c40f;
}
@keyframes animate {
    0% {
        transform: translate(-50%, -100%) rotate(0);
    }
    100% {
        transform: translate(-50%, -100%) rotate(360deg);
    }
}
